<div class="card w-75 mx-auto">
  <div class="card-body">
    <h1 class="mb-2">Login</h1>
    <form class="row g-3 text-start">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      
      <div class="col-12">
        <button type="submit" class="btn btn-outline-primary font-monospace fw-bold">Sign in</button>
      </div>
    </form>
      <p class="lead mt-2 text-start">
        No Account? <a href="/users/register" class="font-monospace fw-bold">Register</a>
      </p>
  </div>
</div>
